<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center fw-bold" href="/">
    <img src="/images/logo.png" alt="公司Logo" style="height:85px;" class="me-3">
    <span class="ms-2 fs-4">{{ .Site.Params.companyName }}</span>
  </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="/">首頁</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/advantages/">核心優勢</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products/">產品介紹</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/news/">最新消息</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact/">聯絡我們</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
